@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.container{
    padding:5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    .form{
        * {
            text-align: left;
            width: 100%;
            margin-bottom: 3em;
        }
    }
    .flex{
        justify-content: center;
    }
}
